<h1>Welcome </h1>

 <img src="images/oneill-building.png"/>

<p> The O’Neill Career Hub is your centralized spot for Career Education and Professional Advancement.   
 We have a dedicated team of professional staff ready to serve you in-person, over the phone, or even virtually for those working online or abroad. We are also available to meet with prospective students considering the O’Neill School programs as well as assisting our alumni who may need guidance regarding early or mid-career transitions.<br><br>  

This guide can serve as a resource to facilitate in your professional development growth. You can find instructions on how to search for jobs, network, interview, and build a competitive resume. 
 
 <br> Please stop by the Career Hub Monday through Friday between 10AM and 4PM to discuss these resources and more!

</p>
