<nav class="nav-side-menu">
    <div class="brand">&nbsp;</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
     <li data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Undergraduate Guide <span class="caret"></span></a>
                </li>
                <ul class="guide-sub-menu sub-menu collapse" id="products">
                <li><a href="{{ '/guide/1-ugrad' | prepend: site.baseurl }}">1: Create Your Professional Development Strategy</a></li>
                <li><a href="{{ '/guide/2-ugrad' | prepend: site.baseurl }}">2: Develop Your Career Narrative and Strategy</a></li>
                <li><a href="{{ '/guide/3-ugrad' | prepend: site.baseurl }}">3: Networking and Social Media</a></li>
		<li><a href="{{ '/guide/4-ugrad' | prepend: site.baseurl }}">4: Job and Internship Searching</a></li>
		<li><a href="{{ '/guide/5-ugrad' | prepend: site.baseurl }}">5: High-Impact Application</a></li>
			<li><a href="{{ '/guide/6-ugrad' | prepend: site.baseurl }}">6: Interviewing</a></li>
			<li><a href="{{ '/guide/7-ugrad' | prepend: site.baseurl }}">7: Offers and Negotiations</a></li>
			<li><a href="{{ '/guide/8-ugrad' | prepend: site.baseurl }}">8: International Student Internships</a></li>
                </ul>
 	<li data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Graduate Guide <span class="caret"></span></a>
                </li>
                <ul class="guide-sub-menu sub-menu collapse" id="products">
                    <li><a href="{{ '/guide/1-grad' | prepend: site.baseurl }}">1: Create Your Professional Development Strategy</a></li>
                    <li><a href="{{ '/guide/2-grad' | prepend: site.baseurl }}">2: Develop Your Career Narrative and Strategy</a></li>
                    <li><a href="{{ '/guide/3-grad' | prepend: site.baseurl }}">3: Networking and Social Media</a></li>
		    <li><a href="{{ '/guide/4-grad' | prepend: site.baseurl }}">4: Job and Internship Searching</a></li>
			<li><a href="{{ '/guide/5-grad' | prepend: site.baseurl }}">5: High-Impact Application</a></li>
			<li><a href="{{ '/guide/6-grad' | prepend: site.baseurl }}">6: Interviewing</a></li>
			<li><a href="{{ '/guide/7-grad' | prepend: site.baseurl }}">7: Offers and Negotiations</a></li>
			<li><a href="{{ '/guide/8-grad' | prepend: site.baseurl }}">8: International Student Internships</a></li>
                </ul>
		
                <li>
                  <a href="{{ '/resources' | prepend: site.baseurl }}"><i class="fa fa-link" aria-hidden="true"></i> Additional Resources</a>
                </li>
		 <br>
			    <p align="center"> Quick Links </p>
		<li><a href="{{ '#' }}"><i class="fa fa-link" aria-hidden="true"></i> Two-Hour Job Search</a> </li>
                <li><a href="{{ '#' }}"><i class="fa fa-link" aria-hidden="true"></i> Resume Action Verbs</a> </li>
		<li><a href="{{ '#' }}"><i class="fa fa-link" aria-hidden="true"></i> UG Resume Template</a> </li>
		<li><a href="{{ '#' }}"><i class="fa fa-link" aria-hidden="true"></i> Graduate Resume Template</a> </li>
		    								    
		</ul>
	<li>
		<form action="{{ page.url | relative_url }}">
  <div class="tipue_search_left"><img src="{{ "/assets/tipuesearch/search.png" | relative_url }}" class="tipue_search_icon"></div>
  <div class="tipue_search_right"><input type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required></div>
  <div style="clear: both;"></div>
</form>

<div id="tipue_search_content"></div>

<script>
$(document).ready(function() {
  $('#tipue_search_input').tipuesearch();
});
</script>
		</li>
     </div>
</nav>
