<nav class="nav-side-menu">
    <div class="brand">&nbsp;</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

        <div class="menu-list">

            <ul id="menu-content" class="menu-content collapse out">
     <li data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Undergraduate Guide <span class="caret"></span></a>
                </li>
                <ul class="guide-sub-menu sub-menu collapse" id="products">
                <li><a href="{{ '/guide/1-ugrad' | prepend: site.baseurl }}">1: Create Your Professional Development Strategy</a></li>
                <li><a href="{{ '/guide/2-ugrad' | prepend: site.baseurl }}">2: Develop Your Career Narrative and Strategy</a></li>
                <li><a href="{{ '/guide/3-ugrad' | prepend: site.baseurl }}">3: Networking and Social Media</a></li>
		<li><a href="{{ '/guide/4-ugrad' | prepend: site.baseurl }}">4: Job and Internship Searching</a></li>
		<li><a href="{{ '/guide/5-ugrad' | prepend: site.baseurl }}">5: High-Impact Application</a></li>
			<li><a href="{{ '/guide/6-ugrad' | prepend: site.baseurl }}">6: Interviewing</a></li>
			<li><a href="{{ '/guide/7-ugrad' | prepend: site.baseurl }}">7: Offers and Negotiations</a></li>
			<li><a href="{{ '/guide/8-ugrad' | prepend: site.baseurl }}">8: International Student Internships</a></li>
                </ul>
 	<li data-toggle="collapse" data-target="#products" class="collapsed">
                  <a href="#"><i class="fa fa-book fa-lg" aria-hidden="true"></i> Graduate Guide <span class="caret"></span></a>
                </li>
                <ul class="guide-sub-menu sub-menu collapse" id="products">
                    <li><a href="{{ '/guide/1-grad' | prepend: site.baseurl }}">1: Create Your Professional Development Strategy</a></li>
                    <li><a href="{{ '/guide/2-grad' | prepend: site.baseurl }}">2: Develop Your Career Narrative and Strategy</a></li>
                    <li><a href="{{ '/guide/3-grad' | prepend: site.baseurl }}">3: Networking and Social Media</a></li>
		    <li><a href="{{ '/guide/4-grad' | prepend: site.baseurl }}">4: Job and Internship Searching</a></li>
			<li><a href="{{ '/guide/5-grad' | prepend: site.baseurl }}">5: High-Impact Application</a></li>
			<li><a href="{{ '/guide/6-grad' | prepend: site.baseurl }}">6: Interviewing</a></li>
			<li><a href="{{ '/guide/7-grad' | prepend: site.baseurl }}">7: Offers and Negotiations</a></li>
			<li><a href="{{ '/guide/8-grad' | prepend: site.baseurl }}">8: International Student Internships</a></li>
                </ul>
		
                <li>
                  <a href="{{ 'https://oneillcareerhub.indiana.edu/' }}"><i class="fa fa-link" aria-hidden="true"></i> Official Career Hub Website</a>
                </li>
		 <br>
			    <p align="center"> Quick Links </p>
		<li><a href="{{ 'https://iu.box.com/s/i5oaklxg5a5k1rpmnf6r0u36ucigvb9l' }}"><i class="fa fa-link" aria-hidden="true"></i> Two-Hour Job Search</a> </li>
                <li><a href="{{ 'https://iu.box.com/s/bkzyw9hyvzl546lxjpeir7thrawro73s' }}"><i class="fa fa-link" aria-hidden="true"></i> Resume Action Verbs</a> </li>
		<li><a href="{{ 'https://iu.box.com/s/ih5t0p4u2933ewk69tq4d1pez4v8h0uq' }}"><i class="fa fa-link" aria-hidden="true"></i> UG Resume Template</a> </li>
		<li><a href="{{ 'https://iu.box.com/s/mgptpi152g9vc5zlr0f57rc98v3lvgxg' }}"><i class="fa fa-link" aria-hidden="true"></i> Graduate Resume Template</a> </li>
		    								    
	 <br>
			    <p align="center"> Flipbook Version </p>
		<li><a href="{{ 'hhttp://anyflip.com/axrd/jnig/ttps://iu.box.com/s/i5oaklxg5a5k1rpmnf6r0u36ucigvb9l' }}"><i class="fa fa-link" aria-hidden="true"></i> Graduate Book</a> </li>
     </div>
</nav>
